<?xml version="1.0"?>
<config>
    <modules>
        <VES_PdfPro>
            <version>0.1.0</version>
        </VES_PdfPro>
    </modules>
    <admin>
        <routers>
			<pdfpro>
				<use>admin</use>
				<args>
					<module>VES_PdfPro</module>
					<frontName>pdfpro_cp</frontName>
				</args>
			</pdfpro>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <pdfpro translate="title" module="pdfpro">
                                            <title>Pdf Pro</title>
                                        </pdfpro>
                                    </children>
                                </config>
                            </children>
                        </system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pdfpro>
					<file>ves_pdfpro.xml</file>
				</pdfpro>
			</updates>
		</layout>
		<events>
			<core_block_abstract_prepare_layout_before>
				<observers>
	                <pdfpro>
	                    <class>pdfpro/observer</class>
	                    <method>core_block_abstract_prepare_layout_before</method>
	                </pdfpro>
	            </observers>
			</core_block_abstract_prepare_layout_before>
		</events>
    </adminhtml>   
    <global>
        <models>
            <pdfpro>
                <class>VES_PdfPro_Model</class>
            </pdfpro>
        </models>
        <blocks>
            <pdfpro>
                <class>VES_PdfPro_Block</class>
            </pdfpro>
        </blocks>
        <helpers>
            <pdfpro>
                <class>VES_PdfPro_Helper</class>
            </pdfpro>
        </helpers>
    </global>
    <default>
    	<pdfpro>
			<config>
				<enabled>1</enabled>
				<key>99d0d8c136d3fdd584b5186020ccb5c2</key>
			</config>
		</pdfpro>
    </default>
</config>